/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  color: #2A2A2A;
}

.none {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  padding-left: 295px;
  padding-right: 265px;
}
@media (max-width: 1900px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 999px) {
  .header {
    padding: 17px 20px;
  }
}

.header__form {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.header__input {
  width: 150px;
  border: 1px solid rgba(42, 42, 42, 0.7);
  padding: 6px 3px;
}

.header__btn {
  width: 18px;
  height: 18px;
}
.header__btn > img {
  width: 100%;
}

.header__search {
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 277px;
  padding-right: 277px;
  padding-top: 32px;
  padding-bottom: 50px;
  gap: 20px;
}
@media (max-width: 1900px) {
  .heading {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 999px) {
  .heading {
    flex-direction: column-reverse;
    padding: 20px;
    padding-top: 13px;
    gap: 0;
  }
}

.heading__img {
  width: 750px;
}
@media (max-width: 1900px) {
  .heading__img {
    width: 500px;
  }
}
@media (max-width: 999px) {
  .heading__img {
    display: none;
  }
}

.heading__info {
  display: grid;
  max-width: 540px;
}
@media (max-width: 999px) {
  .heading__info {
    width: 100%;
    max-width: 999px;
  }
}

.heading__top {
  display: flex;
  justify-content: space-between;
}
.heading__top > h5 {
  color: #EE6400;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%; /* 29.4px */
  letter-spacing: 0.28px;
}
@media (max-width: 1900px) {
  .heading__top > h5 {
    font-size: 12px;
  }
}

.heading__icons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.heading__middle {
  display: grid;
  row-gap: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.heading__middle > h1 {
  font-family: IBM Plex Serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 999px) {
  .heading__middle > h1 {
    font-size: 24px;
  }
}

.heading__img--mobile {
  display: none;
}
@media (max-width: 999px) {
  .heading__img--mobile {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.heading__text {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 24.75px */
}
@media (max-width: 1900px) {
  .heading__text {
    font-size: 13px;
  }
}
@media (max-width: 999px) {
  .heading__text {
    font-size: 14px;
  }
}

.heading__bottom {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
@media (max-width: 999px) {
  .heading__bottom {
    margin-top: 22px;
  }
}

.heading__publish-date {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
}
@media (max-width: 999px) {
  .heading__publish-date {
    font-size: 12px;
  }
}

.heading__author {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
  opacity: 0.7;
}
@media (max-width: 999px) {
  .heading__author {
    font-size: 12ps;
  }
}

.error-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 61px;
       column-gap: 61px;
  padding: 13px 277px;
  background: #0B008E;
}
@media (max-width: 1900px) {
  .error-alert {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 999px) {
  .error-alert {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 8px;
    padding: 20px;
    padding-top: 12px;
  }
}

.error-alert__btn {
  padding: 16px 16px;
  color: #0B008E;
  border-radius: 2px;
  background: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 93.75% */
}
@media (max-width: 999px) {
  .error-alert__btn {
    font-size: 14px;
    padding: 4px 8px;
  }
}

.error-alert__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 75% */
}
@media (max-width: 999px) {
  .error-alert__title {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
}

.cards {
  display: grid;
  justify-items: center;
  padding-top: 53px;
  padding-left: 277px;
  padding-right: 247px;
}
@media (max-width: 1900px) {
  .cards {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 999px) {
  .cards {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.cards__nav {
  display: inline-flex;
  justify-self: start;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 808px;
       column-gap: 808px;
  padding: 13px 15px;
  background-color: #fff;
}
@media (max-width: 999px) {
  .cards__nav {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 999px) {
  .cards__nav-img {
    display: none;
  }
}

.cards__title {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
@media (max-width: 999px) {
  .cards__title {
    font-size: 14px;
  }
}
.cards__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: #C31815;
  border-radius: 1px;
}
@media (max-width: 999px) {
  .cards__title::after {
    background: rgba(11, 0, 142, 0.9);
  }
}

.cards__wrapper {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}
@media (max-width: 999px) {
  .cards__wrapper {
    justify-content: center;
    gap: 20px;
    margin-top: 0;
    padding: 0 10px;
  }
}

.cards__btn {
  margin-top: 40px;
  border-radius: 2px;
  border: 1px solid rgba(195, 24, 21, 0.28);
  color: #C31815;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 107.143% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 23px 63px;
}
@media (max-width: 999px) {
  .cards__btn {
    margin-top: 30px;
    padding: 22px 63px;
    color: #0B008E;
    border-color: rgba(11, 0, 142, 0.7);
  }
}

.card {
  display: grid;
  background-color: #fff;
  width: 438px;
  height: 540px;
}
@media (max-width: 999px) {
  .card {
    width: auto;
    max-width: 438px;
    min-width: 300px;
  }
}

.card__wrapper {
  display: grid;
  padding-top: 15px;
  padding-bottom: 20px;
}
@media (max-width: 999px) {
  .card__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.card__img {
  width: 438px;
}

.card__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 999px) {
  .card__title {
    font-size: 14px;
  }
}

.card__text {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  margin-top: 17px;
  height: 124px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 999px) {
  .card__text {
    font-style: 13px;
    margin-top: 8px;
  }
}

.card__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
  align-self: end;
  margin-top: 12px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 999px) {
  .card__info {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.card__info > span:first-child {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
}
@media (max-width: 999px) {
  .card__info > span:first-child {
    font-size: 12px;
  }
}
.card__info > span:last-child {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
  opacity: 0.7;
}
@media (max-width: 999px) {
  .card__info > span:last-child {
    font-size: 12px;
  }
}

.card__actions {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-top: 1px solid rgba(42, 42, 42, 0.1);
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.card__action {
  cursor: pointer;
}

.slider {
  padding: 60px 277px;
}
@media (max-width: 1900px) {
  .slider {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 999px) {
  .slider {
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 0;
    padding-bottom: 27px;
  }
}

.slider__title {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 999px) {
  .slider__title {
    font-size: 18px;
  }
}

.slider__wrapper {
  display: grid;
  gap: 30px;
  padding-top: 22px;
  width: 100%;
}
@media (max-width: 999px) {
  .slider__wrapper {
    gap: 10px;
  }
}

.slider__items {
  display: flex;
  overflow-x: auto;
  gap: 32px;
}
.slider__items::-webkit-scrollbar {
  display: none;
}

.slider__nav {
  display: flex;
  justify-content: center;
}

.slider-card {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  min-width: 667px;
}
@media (max-width: 999px) {
  .slider-card {
    width: 272px;
    min-width: 272px;
    position: relative;
  }
}

.slider-card__img {
  display: block;
  width: 272px;
  height: 170px;
}
@media (max-width: 999px) {
  .slider-card__img {
    width: 265px;
    height: 160px;
  }
}

.slider-card__title--mobile {
  display: none;
  color: #FFF;
  font-family: IBM Plex Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
@media (max-width: 999px) {
  .slider-card__title--mobile {
    display: block;
    width: 237px;
    height: 57px;
    overflow: hidden;
    position: absolute;
    bottom: 18px;
    left: 14px;
  }
}

.slider-card__wrapper {
  display: grid;
  align-content: center;
  row-gap: 16px;
  width: 380px;
}
@media (max-width: 999px) {
  .slider-card__wrapper {
    display: none;
  }
}

.slider-card__title {
  font-family: IBM Plex Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  white-space: wrap;
  width: 380px;
}

.slider-card__text {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.41%; /* 26.146px */
  white-space: wrap;
  width: 380px;
}

.footer {
  display: flex;
  justify-content: center;
  -moz-column-gap: 180px;
       column-gap: 180px;
  padding-top: 80px;
  padding-bottom: 54px;
}
@media (max-width: 999px) {
  .footer {
    justify-content: flex-start;
    padding: 33px 8px;
    -moz-column-gap: 85px;
         column-gap: 85px;
  }
}

.footer__logo {
  display: grid;
  justify-items: center;
  row-gap: 31px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%; /* 25.2px */
  letter-spacing: 0.24px;
}
@media (max-width: 999px) {
  .footer__logo > span {
    display: none;
  }
}

.footer__list {
  display: grid;
}
@media (max-width: 999px) {
  .footer__list {
    display: none;
  }
}

.footer__link {
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 210%; /* 31.5px */
  letter-spacing: 0.3px;
}

.footer__wrapper {
  display: grid;
}
@media (max-width: 999px) {
  .footer__wrapper {
    display: none;
  }
}

.footer__list-nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 51px;
}

.preview {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 241px;
  z-index: 0;
  position: relative;
}
@media (max-width: 999px) {
  .preview {
    align-items: flex-end;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 256px;
  }
}
.preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1px;
  z-index: 1;
}
.preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 6px;
  background: rgba(238, 100, 0, 0.9);
  border-radius: 1px;
  z-index: 2;
}
@media (max-width: 999px) {
  .preview::after {
    width: 40%;
  }
}

.preview__title {
  color: #FFF;
  font-family: IBM Plex Serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 800px;
}
@media (max-width: 999px) {
  .preview__title {
    width: 100%;
    max-width: 500px;
    font-size: 26px;
  }
}

.preview-img {
  display: flex;
  justify-content: center;
  z-index: 9;
}

.preview-img__img {
  margin-top: -211px;
  width: 1050px;
  height: 423px;
  z-index: 9;
}
@media (max-width: 1900px) {
  .preview-img__img {
    width: 950px;
    height: 381px;
    margin-top: -169px;
  }
}
@media (max-width: 999px) {
  .preview-img__img {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}

.wrapper-show {
  display: flex;
  justify-content: space-between;
  gap: 92px;
  padding-left: 277px;
  padding-right: 435px;
  padding-top: 41px;
  padding-bottom: 50px;
}
@media (max-width: 1900px) {
  .wrapper-show {
    padding-left: 50px;
    padding-right: 50px;
    gap: 45px;
  }
}
@media (max-width: 999px) {
  .wrapper-show {
    display: grid;
    row-gap: 30px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
  }
}

.aside-actions {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 63px;
  row-gap: 60px;
}
@media (max-width: 999px) {
  .aside-actions {
    display: none;
  }
}

.aside-actions__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.aside-actions__title {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 115.385% */
}

.aside-actions__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.aside-actions__item {
  display: flex;
  align-items: center;
  gap: 14px;
}
.aside-actions__item > span {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
}

.aside-cards__items {
  display: grid;
  row-gap: 40px;
}
@media (max-width: 999px) {
  .aside-cards__items {
    display: none;
  }
  .aside-cards__items > div:first-child {
    width: 100%;
    display: none;
  }
}

.mini-card {
  display: grid;
  row-gap: 9px;
  width: 255px;
}
@media (max-width: 999px) {
  .mini-card {
    width: auto;
    max-width: 335px;
    min-width: 280px;
  }
}
.mini-card--mobile {
  display: none;
}
@media (max-width: 999px) {
  .mini-card--mobile {
    display: grid;
    margin-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
  }
}

.mini-card__heading {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 999px) {
  .mini-card__img {
    width: 100%;
  }
}

.mini-card__container {
  background: #fff;
  padding: 24px 11px 40px 29px;
}

.mini-card__title {
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.article {
  width: 705px;
}
@media (max-width: 1900px) {
  .article {
    width: 500px;
  }
}
@media (max-width: 999px) {
  .article {
    width: 100%;
  }
}

.article__info {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.article__info > span:first-child {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
}
@media (max-width: 999px) {
  .article__info > span:first-child {
    font-size: 12px;
  }
}
.article__info > span:last-child {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
  opacity: 0.7;
}
@media (max-width: 999px) {
  .article__info > span:last-child {
    font-size: 12px;
  }
}

.article__content {
  display: grid;
  justify-items: center;
  row-gap: 40px;
  margin-top: 13px;
}
@media (max-width: 999px) {
  .article__content {
    row-gap: 30px;
  }
}

.article__p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
@media (max-width: 999px) {
  .article__p {
    font-size: 14px;
  }
}

.article__title {
  font-family: IBM Plex Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 150% */
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid #EE6400;
  border-bottom: 1px solid #EE6400;
}
@media (max-width: 999px) {
  .article__title {
    padding-bottom: 25px;
  }
}

.article__block {
  display: grid;
  justify-items: end;
  width: 560px;
  row-gap: 10px;
}
@media (max-width: 1900px) {
  .article__block {
    width: 100%;
  }
}

.article__img {
  width: 560px;
}
@media (max-width: 1900px) {
  .article__img {
    width: 100%;
  }
}

.article__span {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  width: 560px;
  padding-left: 20px;
  position: relative;
}
@media (max-width: 1900px) {
  .article__span {
    width: 100%;
  }
}
.article__span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1px;
  height: 33px;
  background: #EE6400;
}

.article__author {
  color: #EE6400;
}

.newsletters {
  background: #fff;
  border-radius: 4px;
  padding: 40px 35px 37px 35px;
  position: relative;
  width: 100%;
  margin: 50px 0;
}
.newsletters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
}
@media (max-width: 999px) {
  .newsletters {
    padding: 36px 18px 20px 18px;
    margin: 30px 0;
  }
}

.newsletters__title {
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */
}
@media (max-width: 999px) {
  .newsletters__title {
    font-size: 16px;
  }
}

.newsletters__author {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 21.45px */
  opacity: 0.7;
  margin-top: 10px;
}

.newsletters__text {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  margin-top: 13px;
}
@media (max-width: 999px) {
  .newsletters__text {
    font-style: 14px;
    margin-top: 15px;
  }
}

.newsletters__link {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline !important;
  color: #2a2a2a;
}
@media (max-width: 999px) {
  .newsletters__link {
    font-size: 14px;
  }
}

.newsletters__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  text-align: center;
  border-radius: 2px;
  background: #0B008E;
  margin-top: 25px;
  padding: 12px 12px 13px 16px;
  width: 240px;
}
.newsletters__btn > span {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 107.143% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
@media (max-width: 999px) {
  .newsletters__btn {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    width: 100%;
  }
}

.about {
  display: grid;
}
@media (max-width: 1900px) {
  .about {
    width: 100%;
  }
}

.about__tags {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.about__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
}
@media (max-width: 999px) {
  .about__actions {
    display: none;
  }
}

.about__left {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about__action {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.about__action > span {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%; /* 16.5px */
}

.about__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 33px;
  position: relative;
}
@media (max-width: 999px) {
  .about__info {
    display: grid;
    padding: 30px 0;
    border-top: 1px solid rgba(42, 42, 42, 0.1);
    border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  }
}

.about__card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 999px) {
  .about__card {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.about__author-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50%;
}
@media (max-width: 1900px) {
  .about__author-img {
    width: 50px;
    height: 50px;
  }
}

.about__container {
  display: grid;
  width: 356px;
}
@media (max-width: 999px) {
  .about__container {
    align-content: end;
    width: auto;
  }
}

.about__author {
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 146.667% */
  opacity: 0.7;
}
@media (max-width: 999px) {
  .about__author {
    font-size: 14px;
    line-height: 14px;
  }
}

.about__name {
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  margin-top: 4px;
}
@media (max-width: 999px) {
  .about__name {
    font-size: 18px;
    line-height: 18px;
  }
}

.about__text {
  margin-top: 12px;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}
.about__text--red {
  color: #EE6400;
}
.about__text--mobile {
  display: none;
}
@media (max-width: 999px) {
  .about__text--mobile {
    display: block !important;
  }
}
@media (max-width: 999px) {
  .about__text {
    display: none;
    margin-top: 14px;
    font-size: 14px;
  }
}

.tag {
  border-radius: 15px;
  background: rgba(11, 0, 142, 0.1);
  min-width: 100px;
  text-align: center;
  padding: 8px 0;
}

.tag__title {
  color: #0B008E;
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 127.273% */
  letter-spacing: 1.62px;
  text-transform: uppercase;
}

.follow-btn {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  border: 1px solid #EFBFBE;
  width: 145px;
}
.follow-btn > div {
  position: relative;
  width: 19px;
  height: 16px;
}
.follow-btn > div::before {
  content: "";
  position: absolute;
  background: url("./../imgs/btn/twitter.svg");
  width: 19px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 999px) {
  .follow-btn {
    position: absolute;
    top: 30px;
    right: 0;
    width: 124px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 12px 14px;
    border: 1px solid #0B008E;
    color: #0B008E;
    text-transform: uppercase;
  }
  .follow-btn > div::before {
    content: "";
    position: absolute;
    background: url("./../imgs/btn/twitter-blue.svg");
    width: 19px;
    height: 16px;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
@media screen and (max-width: 359px) {
  .follow-btn {
    display: none;
  }
}

.related-topics {
  display: grid;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 277px;
  padding-right: 277px;
}
@media (max-width: 1900px) {
  .related-topics {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 999px) {
  .related-topics {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.related-topics__title {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.631%; /* 29.326px */
}
@media (max-width: 999px) {
  .related-topics__title {
    font-size: 18px;
  }
}

.related-topics__items {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin-top: 15px;
  overflow-x: auto;
}
@media (max-width: 999px) {
  .related-topics__items {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.topic {
  display: grid;
  min-width: 255px;
  height: 357px;
  border-radius: 3px;
  border: 1px solid #FFF;
  background: #FFF;
}
@media (max-width: 999px) {
  .topic {
    min-width: 220px;
    height: 319px;
  }
}

.topic__img {
  width: 255px;
}
@media (max-width: 999px) {
  .topic__img {
    width: 220px;
    height: 92px;
  }
}

@media (max-width: 999px) {
  .topic__wrapper {
    display: grid;
    row-gap: 8px;
    padding: 10px 0 13px 0;
  }
}

.topic__title {
  font-family: IBM Plex Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 24px 20px 0 20px;
}
@media (max-width: 999px) {
  .topic__title {
    padding: 0;
    font-family: IBM Plex Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    height: 38px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.topic__text--mobile {
  display: none;
}
@media (max-width: 999px) {
  .topic__text--mobile {
    display: inline-block;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    height: 87px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.topic__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  height: 63px;
  border-top: 1px solid rgba(42, 42, 42, 0.1);
}
@media (max-width: 999px) {
  .topic__actions {
    padding-top: 0px;
    margin: 0 15px;
  }
}

.topic__action {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%; /* 16.5px */
  opacity: 0.7;
  -moz-column-gap: 7px;
       column-gap: 7px;
}

.aside-rec {
  display: none;
}
@media (max-width: 999px) {
  .aside-rec {
    display: grid;
    row-gap: 9px;
    padding-top: 30px;
  }
}

.aside-rec__title {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aside-rec__items {
  display: flex;
  overflow-x: auto;
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.rec-card {
  display: grid;
  min-width: 266px;
  height: 234px;
  position: relative;
  filter: drop-shadow(0px 2px 14px rgba(42, 42, 42, 0.24));
}

.rec-card__img {
  width: 266px;
  height: 128px;
}

.rec-card__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  position: absolute;
  right: 0;
  top: 100px;
  padding: 10px;
  background: #fff;
}

.rec-card__wrapper {
  background: #fff;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 27px;
}

.rec-card__title {
  height: 63px;
  overflow: hidden;
  font-family: IBM Plex Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}/*# sourceMappingURL=main.css.map */